@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-sans: 'var(--font-robotoFlex)';
  font-alt: 'var(--font-sans)';
}